<div>
   <div class="alert alert-dismissible fade show" role="alert" *ngIf="showMessage" [class.alert-danger]="!isSuccess"
     [class.alert-success]="isSuccess">
     {{message}}
   </div>
  <form class="form-signin" action="#" #changePasswordForm="ngForm" (ngSubmit)="update(changePasswordForm)" method="POST">
    <h1 class="h3 mb-3 font-weight-normal text-center font-color-white">Change Password</h1>
    <input type="password" id="inputPassword" class="form-control mg-end-sm bg-gray" placeholder="Old Password" required
      name="old_password" [(ngModel)]="user.old_password">
    <input type="password" id="inputPassword" class="form-control mg-end-sm bg-gray" placeholder="New Password" required
      name="new_password" [(ngModel)]="user.new_password">
    <input type="password" id="inputPassword" class="form-control mg-end-sm bg-gray" placeholder="Confirm Password" required
      name="new_password_confirmation" [(ngModel)]="user.new_password_confirmation">
    <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button> -->
      <button class="btn btn-lg btn-dark btn-block border-color mg-end-md" type="submit">Update</button>
  </form>
</div>
