<div class="container mg-top-lg">
  <h1  class="h3 mb-3 font-weight-normal text-center font-color-white">Customer List</h1>
  <button class="font-color-white btn btn-sm btn-dark btn-inline border-color" type="submit" style="margin-bottom:10px;">
    <a routerLink="/dashboard/new-customer">Add New</a>
  </button>
  <br/>
  <table class="table table-dark" style="padding:10px;">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ customer.name }}</td>
        <td>{{ customer.phone_no }}</td>
        <td> 
          <button class="font-color-white btn btn-sm btn-dark btn-inline border-color float-left" type="submit" style="margin-bottom:10px; margin-right:10px">
            <a routerLink="/dashboard/update-customer/{{customer.id}}">Edit</a>
          </button>
          &nbsp;
          <button (click)="openDialog('dialogDelete', customer.id)" class="font-color-white btn btn-sm btn-dark btn-inline border-color float-left" type="submit" style="margin-bottom:10px;">Delete</button>
         </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Delete modal -->
<div class="modal bd-example-modal-sm" tabindex="-1" role="dialog" id="dialogDelete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are You Sure to delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="deleteCustomer()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete modal -->
